
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 285px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.gallery {
  list-style: none;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  width: calc(25% - 10px);
  margin-right: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}

.gallery-item a {
  display: block;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.image-desc {
  background-color: #fff;
  padding: 15px;
  border-radius: 0 0 8px 8px;
}

.image-desc-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.image-desc-label {
  font-weight: bold;
  color: #333;
}

.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 20px auto;
  position: relative;
  border: 3px solid #333;
  border-radius: 50%;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  width: 6px;
  height: 24px;
  background: #333F;
  transform: rotate(-45deg);
  position: absolute;
  bottom: -20px;
  left: 46px;
}

@keyframes animloader {
  0% {
    transform: translate(-10px, -10px);
  }
  25% {
    transform: translate(-10px, 10px);
  }
  50% {
    transform: translate(10px, 10px);
  }
  75% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(-10px, -10px);
  }
}
    
.loader.is-hidden {
  display: none;
}


@keyframes eyeMove {
  0%  , 10% {     background-position: 0px 0px}
  13%  , 40% {     background-position: -15px 0px}
  43%  , 70% {     background-position: 15px 0px}
  73%  , 90% {     background-position: 0px 15px}
  93%  , 100% {     background-position: 0px 0px}
}
@keyframes blink {
  0%  , 10% , 12% , 20%, 22%, 40%, 42% , 60%, 62%,  70%, 72% , 90%, 92%, 98% , 100%
  { height: 48px}
  11% , 21% ,41% , 61% , 71% , 91% , 99%
  { height: 18px}
}

.load-images-btn {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
  border-radius: 0.8rem;
  background: #4e75ff;
  border: none;
  padding: 0.6rem 1rem;
  outline: none;
  transition: background-color 250ms ease;
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 32px;
}

.load-images-btn:hover {
  background-color: #6c8cff;
}

.load-images-btn.is-hidden {
  display: none;
}


/* // function fetchImages(event) {
  //     gallery.innerHTML = "";
  //     loader.classList.remove('is-hidden');
  //     event.preventDefault();
  //     const searchParams = new URLSearchParams({
  //         key: "41936359-935dea1b7e7e76694a23c8d00",
  //         q: input.value,
  //         image_type: 'photo',
  //         orientation: 'horizontal',
  //         safesearch: 'safesearch'
  //     });
      
  //     fetch (`${URL}?${searchParams}`)
  //     .then(response => {
  //         if (!response.ok) {
  //           throw new Error(response.status);
  //         }
  //         return response.json();
  //       })
  //     .then (data => {setTimeout(() => {
  //         loader.classList.add('is-hidden')
  //         if (data.hits.length === 0) {
  //         return iziToast.show();} 
  //       renderImages(data.hits);},1000 )})
  //     .catch(error => {
  //             console.log(error);
  //       })
  //       .finally(() => {
  //         form.reset();
  //       });
  // } */
